XSD/warehouseCD_XSD.xsd



<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  
  <xs:element name="catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cd" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="title"/>
              <xs:element type="xs:string" name="artist"/>
              <xs:element type="xs:string" name="country"/>
              <xs:element type="xs:string" name="company"/>
              <xs:element type="xs:double" name="price"/>
              <xs:element type="xs:int" name="year"/>
              <xs:element type="xs:int" name="quantity" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
